:root {
  --body-bg: #fff;
  --ttm-bg: #fff;
  --questions-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
  --left-questions-bg: #ececec;
}

body {
  background: #ADD8E6;
  height: 100vh;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.ttm-layout {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 0.5rem;
  align-items: center;
  height: 95vh;
  font-family: Helvetica, sans-serif;
}

.ttm-chat {
  grid-column: 1;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  height: calc(100% - 10px);
}

.ttm-datapoint {
  grid-column: 2;
  height: calc(100% - 10px);
  flex: 1;
  overflow-y: auto;
  border: var(--border);
  border-radius: 5px;
  background: var(--ttm-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.ttm {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 10px);
  border: var(--border);
  border-radius: 5px;
  background: var(--ttm-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.ttm-header {
  display: flex;
  /* width: 100%; */
  font-size: large;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.inputarea {
  /* width: 100%; */
  max-width: 500px;
  margin: 0px 10px;
  height: calc(100% - 10px);
  border: var(--border);
  border-radius: 5px;
  background: var(--questions-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Style the buttons to appear below each other */
.inputarea input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  width: 80%;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: normal;
}

/* Style the selection field like tailwind */
.inputarea select {
  background-color: whitesmoke;
  padding: 14px 20px;
  margin: 5px 0;
  border: 2px;
  cursor: pointer;
}

.inputarea input[type=submit] {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.msg-bubble {
  max-width: 450px;
  padding: 10px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 0px;
}

.submit-button {
  width: 100%;
}

.inputarea .active {
  background-color: darkblue !important;
}